:host {
    display: flex;
    width: 100%;
}

project-card {
    height: 500px;
    width: 50%;
}

project-card div {
    background-color: ;
}

button {
  position: absolute;
  background-color: transparent;
  color: transparent;
  border: none;
  font-size: 5vw;
  margin: 20px 0px;
  z-index: 1;
  height: 540px;
}

button:hover {
  background-color: #00000033;
  color: white;
}

button:active {
  background-color: transparent;
  color: white;
}

.left-button {
    left: 16%;
    width: 20%;
}

.right-button {
  right: 16%;
  width: 20%;
}

.main-item {
  box-shadow: 0px 0px 40px 5px gray;
  z-index: 2;
}

.previous-item {
    left: 15%;
}

.next-item {
    right: 15%;
}

.previous-item, .next-item {
    z-index: 0;
}

.main-item, .previous-item, .next-item {
    position: relative;
}
