# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/Portfolio/v17/.suo
/.vs/Portfolio/FileContentIndex/write.lock
/.vs/Portfolio/FileContentIndex/fca38daf-34f1-43ad-a276-00c007a11c37.vsidx
/.vs/Portfolio/FileContentIndex/2c42aee2-11c7-4e7d-9e13-adb6935950d6.vsidx
/.vs/Portfolio/FileContentIndex/b1f96eaa-f17a-4149-b373-5e96a60a0b12.vsidx
/.vs/Portfolio/FileContentIndex/9d758eb1-123e-4360-bd12-87caaac8f7a5.vsidx
*.vsidx
/Portfolio.esproj.user
/.vs/Portfolio/FileContentIndex/b5b4f89f-5592-4d4f-8d99-4de35d6c606e.vsidx
/.vs/Portfolio/FileContentIndex/b5b4f89f-5592-4d4f-8d99-4de35d6c606e.vsidx
/.vs/Portfolio/FileContentIndex/b5b4f89f-5592-4d4f-8d99-4de35d6c606e.vsidx
/.vs/Portfolio/FileContentIndex/b5b4f89f-5592-4d4f-8d99-4de35d6c606e.vsidx
/.vs/Portfolio/FileContentIndex/b5b4f89f-5592-4d4f-8d99-4de35d6c606e.vsidx
/obj/Debug/.AssemblyReference.cache
/obj/Debug/_IsIncrementalBuild
/obj/Debug/Portfolio.esproj.SuggestedBindingRedirects.cache
/obj/Debug/Portfolio.esproj.FileListAbsolute.txt
/obj/Debug/Portfolio.esproj.CoreCompileInputs.cache
