nav {
    position: fixed;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: white;
    z-index: 2;
    box-shadow: 1px 1px 5px gray;
    justify-content: space-between
}

.logo {
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-left: 40px;
  align-self: center;
  color: var(--main);
}

.links {
    display: flex;
    width: 500px;
}

.links a:hover {
  color: var(--main) !important;
}

.links a {
    font-family: 'Bebas Neue';
    font-size: 20px;
    margin: auto;
    text-decoration: none;
}

.links a:visited {
    color: black;
}
