nav {
    position: fixed;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: black;
    box-shadow: 0px 1px 5px black;
    z-index: 2;
}

.logo {
    width: 200px;
}

.links {
    display: flex;
    width:  stretch;
}

.links a {
    font-family: Gadugi;
    font-size: 20px;
    margin: auto;
    text-decoration: none;
}

.links a:visited {
    color: var(--main);
}
