<div class="contact-container">
  <div class="image-container">
    [IMAGE GOES HERE]
  </div>

  <div class="user-info-container">
    <h1>Contact Me</h1>

    <section class="contact-information">
      Email: joshiefrazie@hotmail.com
    </section>
    <section class="logo-links">
      <a href="https://github.com/BlackOutDevelops" target="_blank"><img src="../../assets/icons/github_logo_black.png" /></a>
      <a href="https://www.facebook.com/Xl.Joshie.lX/" target="_blank"><img src="../../assets/icons/facebook_logo.png" /></a>
      <a href="https://www.instagram.com/blazincalamity/" target="_blank"><img src="../../assets/icons/instagram_logo.png" /></a>
      <a href="https://twitter.com/blazincalamity" target="_blank"><img src="../../assets/icons/twitter_logo.png" /></a>
    </section>

    <div class="user-input-container">
      <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" hideRequiredMarker="true">
          <mat-label>Email:</mat-label>
          <input formControlName="email" matInput placeholder="pat@example.com" required>
          <mat-error *ngIf="emailForm.controls['email'].invalid == true">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker="true">
          <mat-label>Phone number:</mat-label>
          <input formControlName="phone" [(ngModel)]="phone" maxlength="12" matInput placeholder="123-456-7890" (ngModelChange)="addHyphen()" (keydown.delete)="onDelete($event)" required>
          <mat-error *ngIf="emailForm.controls['phone'].invalid == true">{{getPhoneErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker="true">
          <mat-label>Message:</mat-label>
          <textarea formControlName="message" matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="10"
                    cdkAutosizeMaxRows="10" required></textarea>
          <mat-error *ngIf="emailForm.controls['message'].invalid == true">{{getMessageErrorMessage()}}</mat-error>
        </mat-form-field>

        <button class="submit-button" mat-raised-button type="submit">Send Message</button>
      </form>
    </div>
  </div>
</div>
