/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --main: #d4af36;
    --accent: #f7941c;
}

video {
  position: fixed;
  height: 100vh;
  object-fit: cover;
  top: 0;
  z-index: -1;
  aspect-ratio: 16/9;
  width: 100%;
}

body {
    margin: 0px;
    padding-top: 80px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Gadugi", sans-serif; }
