<video id="background-video" preload="auto" autoplay muted loop src="../../assets/video/Background.mp4">
</video>

<div class="image-container">
  <img src="../../assets/images/MyPortfolioHomePageImage.png" />

  <div class="about-container">
    <div class="quote-card">
      <p>
        "As a technology enthusiast, I'm passionate about staying up to
        date on the latest innovations and exploring how they can be used
        to benefit society. Whether it's through improving communication,
        increasing efficiency, or enhancing our understanding of the world,
        technology has the power to bring about positive change."
      </p>
    </div>

    <div class="buttons">
      <div>
        <button mat-raised-button (click)="downloadResume()">Download Resume</button>
        <label style="display: block;">{{clickMessage}}</label>
      </div>

      <div>
        <button mat-raised-button routerLink="contact-me">Contact Me <mat-icon aria-hidden="true">phone</mat-icon></button>
      </div>

    </div>
  </div>
</div>

