@media (max-width: 1250px) {
    .image-quote-container {
        flex-direction: column;
        margin: 150px auto 210px auto;
        object-fit: scale-down;
        width: auto;
        height: auto;
    }

    .image-quote-container img {
        object-fit: scale-down;
    }

    .quote-container {
        margin: 0px auto !important;
        width: 75%;
    }

    .quote-card {
        width: fit-content !important;
        padding: 15px !important;
        background-color: var(--main) !important;
        border-style: none solid none solid !important;
        border-color: var(--accent) !important;
    }

    .buttons {
        width: fit-content;
    }

    .skills-container {
        flex-direction: column;
    }

    .proficient-tools {
      width: 100% !important;
    }
}

video {
    position: fixed;
    height: 100vh;
    object-fit: cover;
    top: 0;
    z-index: -1;
    aspect-ratio: 16/9;
    width: 100%;
}

.image-quote-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    height: 600px;
}

.image-quote-container img {
    height: stretch;
    margin: 10px;
}

.quote-container {
    margin: auto 30px;
}

.quote-card {
    border-left: solid var(--accent);
    background: linear-gradient(to right, var(--main) 0%, transparent 100%);
    border-radius: 15px;
    width: 500px;
    padding: 10px 150px 10px 30px;
}

.quote-card p {
    font-family: Gadugi;
    font-size: 20px;
    line-height: calc(1ex / 0.32);
}

.buttons {
    display: flex;
}

.buttons button {
    background: var(--main);
    margin: 10px 10px 10px 0px;
}

.buttons label {
    display: inline-block;
    position: absolute;
}

.skills-container {
    display: flex;
    direction: ltr;
    margin-bottom: 30px;
    justify-content: space-evenly;
}

.programming-languages, .framework-experience {
  width: 100%;
}

.proficient-tools {
  width: 140%;
}

h3 {
    padding: 0px 18px;
  font-family: Gadugi;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.grid-text {
    position: absolute;
    left: 0;
    margin-left: 10px;
    white-space: nowrap;
}

.list-container {
  border-left: solid var(--accent) 4px;
  border-right: solid var(--accent) 4px;
  border-radius: 15px;
  margin: 0px 1px;
  height: 100%;
  padding: 5px;
}

.resume-container {
    margin: 400px auto;
    padding-bottom: 50px;
    width: 75%;
}

.education-history, .work-history {
    margin: 0px auto;
}

h1 {
    font-family: Gadugi;
    color: var(--accent);
    margin-left: 15px;
    font-weight: bold;
}

.card {
    font-family: Gadugi;
    background-color: var(--main);
    border-style: none solid none solid;
    border-color: var(--accent);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

table {
    column-width: auto;
    width: stretch;
}

.left-column {
    text-align: left;
    vertical-align: top;
}

.right-column {
    text-align: right;
    vertical-align: top;
}

ul {
    list-style: square;
    padding-left: 20px;
}
